* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: var(--color2);
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #b8b8b8;
  max-width: 100%;
}

:root {
  --color1: #5c7a62;
  --color2: #fff;
  --color3: #3b3b3b;
}

.modo-escuro{
  --color1: #405e46;
  --color2: #3b3b3b;
  --color3: #fff;
}

header {
  display: flex;
  flex-direction: column;
  height: 75px;
  max-width: 100vw;
  background-color: var(--color1);
  position: absolute;
  z-index: 10;
}

.header-container {
  display: flex;
  flex: 1;
  background-color: var(--color1);
  color: var(--color2);
  width: 100vw;
  position: fixed;
  height: fit-content;
  box-shadow: -2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.5);
}

.header-container-content {
  display: flex;
  width: 100vw;
  max-width: 1100px;
  margin: auto;
  align-items: center;
}

#patx {
  width: 9vh;
  border-radius: 10vh;
}

.nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  margin: 0px 30px;
}

.options{
  list-style: none;
}

.options button {
  background-color: transparent;
  border: none;
  color: var(--color2);
  padding: 5px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.options{
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
}

.main-content {
  display: flex;
  background-color: var(--color2);
  margin: auto;
  box-shadow: -2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0 100px;
}

blockquote {
  margin-top: 21px;
}

#carousel {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}

#carousel h1 {
  margin: auto;
  width: 100%;
  margin-top: 20px;
  font-size: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color1);
  box-shadow: -2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.5);
}

.footer-conteiner {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: auto;
}

.footer-content {
  flex: 1;
  min-height: 30px;
  color: var(--color2);
}

.commom-writing-content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

.commom-writing-content p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

.commom-writing-content h1, h2 {
  margin: 20px;
}

header a {
  list-style: none;
  color: var(--color2);
  text-decoration: none;
  transition: 0.3s;
}

header a:hover {
  text-decoration: underline;
  transition: 0.3s;
}

.abertura {
  text-align: center;
}

.imagem-inicial {
  width: 100%;
  display: flex;
}

.imagem-inicial img {
  margin: auto;
  border-radius: 5px;
  box-shadow: -2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  max-width: 800px;
}

#article-content {
  padding-left: 100px;
  padding-right: 100px;
}

.commom-writing-content li {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.carrossel {
  width: 70%;
  margin: 25px auto;
  overflow: hidden;
  position: relative;
  box-shadow: -2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.carrossel ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  animation: transicao 20s infinite;
}

.carrossel li {
  width: 100%;
  flex-shrink: 0;
  transition: transform 2s ease;
}

.carrossel img {
  width: 100%;
  height: 100%;
}

@keyframes transicao {

  0%,
  20% {
    transform: translateX(0);
  }

  25%,
  45% {
    transform: translateX(-100%);
  }

  50%,
  75% {
    transform: translateX(-200%);
  }

  75%,
  95% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0);
  }
}

footer li{
  margin: 15px;
  font-size: 20px;
  list-style: none;
}

footer img{
  width: 300px;
  margin: auto;
}

#quem-somos{
  background-color: var(--color1);
  color: var(--color2);
  width: 100%;
  padding: 30px;
  border-radius: 30px;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: -2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.5);
}

#quem-somos h2{
  font-size: 50px;
}

#quem-somos div{
  width: 80%;
}

#quem-somos img{
  width: 20%;
}

#quem-somos p{
  width: 80%;
}

#objetivo{
  width: 80%;
  padding: 30px;
  margin: auto;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}

#objetivo h2{
  text-align: center;
}

#passosH{
  font-size: 30px;
  justify-self: center;
  margin-bottom: 50px;
}

.passoEsq{
  width: 50%;
  border-right: 5px dotted var(--color1);
  margin: 0;
}

.passoEsq p{
  padding: 0 30px;
  font-size: 18px;
}

.passoDir{
  justify-self: end;
  width: 50%;
  border-left: 5px dotted var(--color1);
  box-sizing: content-box;
}

.passoDir p{
  padding: 0 30px;
  font-size: 18px;
}

.integrante{
  width: 80%;
  display: flex;
}

.integrantes h2{
  font-size: 30px;
  margin: auto 0;
}

.integrante img{
  width: 30%;
}

.integrante div{
  margin: auto 0;
}

.integrante p{
  margin: 0;
  padding: 10px;
  font-size: 18px;
}

.integrante a{
  color: var(--color1);
  font-size: 18px;
  padding-left: 10px;
  text-decoration: none;
}

.integrante a:hover{
  text-decoration: underline 2px var(--color1);
}

#centerH2{
  justify-self: center;
  font-size: 30px;
}

hr{
  margin: 100px;
  border: 2px solid var(--color1);
  margin: 60px 0;
  border-radius: 2px;
}

#mapa-do-site h2{
  justify-self: center;
  font-size: 30px;
  margin: 50px;
}

table{
  width: 100%;
  padding: 20px;
  background-color: var(--color1);
  border-collapse: collapse;
}

td{
  border: 2px solid var(--color1);
  padding: 20px;
  width: 50%;
  background-color: var(--color2);
}

#mapa-do-site a{
  text-decoration: none;
  color: var(--color1);
}

#mapa-do-site a:hover{
  text-decoration: 2px underline;
  color: var(--color1);
}

.cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.card{
  display: block;
  width: 100%;
  max-width: 550px;
  border-radius: 50px;
  padding: 30px;
  text-align: center;
}

.card img{
  width: 100%;
  box-shadow: -2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-bottom: 15px;
}

.card a{
  text-decoration: none;
  font-size: 18px;
  margin: 5px;
  color: var(--color1);
}